<html>
<head>
    <title>Runge-Kutta method</title>
</head>
<body>
		<p>{{currentTime}}</p>
		<p>{{dept}}</p>
<form action="/RungeKutta/" method="get">
        <p>M:<input type="text" name="Mvalue" /></p>
        <p>C:<input type="text" name="Cvalue" /></p>
        <p>K:<input type="text" name="Kvalue" /></p>
        <p>P:<input type="text" name="Pvalue" /></p>
        <p>u[0]:<input type="text" name="U0value" /></p>
        <p>u[1]:<input type="text" name="U1value" /></p>
        <p>sec:<input type="text" name="secvalue" /></p>
        <button type="submit"> 計算</button>
</form>
</body>
</html>
